{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Cluster Analysis</h1>
    <div id="plot1"></div>
    <script>
        var graphs1 = {{ graphJSON1 | safe }};
        Plotly.newPlot('plot1', graphs1);
    </script>
    <div id="plot2"></div>
    <script>
        var graphs2 = {{ graphJSON2 | safe }};
        Plotly.newPlot('plot2', graphs2);
    </script>
    <div class="button-container">
        <div class="country-buttons">
            <button onclick="window.location.href='{{ url_for('cluster_analysis', country='England', x_axis=current_x_axis) }}'">England</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', country='Scotland', x_axis=current_x_axis) }}'">Scotland</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', country='Wales', x_axis=current_x_axis) }}'">Wales</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', country='All', x_axis=current_x_axis) }}'">All</button>
        </div>
        <div class="x-axis-buttons">
            <button onclick="window.location.href='{{ url_for('cluster_analysis', x_axis='Population Density') }}'">Population Density</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', x_axis='Female Pop %') }}'">Female Population %</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', x_axis='Student Pop %') }}'">Student Population %</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', x_axis='Retired Pop %') }}'">Retired Population %</button>
            <button onclick="window.location.href='{{ url_for('cluster_analysis', x_axis='Married Pop %') }}'">Married Population %</button>
        </div>
    </div>
</div>


<p>
    NB only cluster on numeric data - come back to this in the analysis!
    <br>
    click on the cluster to isolate just them...
    <ul>
        <li><strong>Cluster 0:</strong> Likely rural areas. Features lower population densities and higher age demographics (more retirees). Voting behavior might vary but could lean towards traditional values.</li>
        <li><strong>Cluster 1:</strong> Highly urban areas. High population density, younger demographic. Might show diverse voting behaviors with significant votes for progressive parties.</li>
        <li><strong>Cluster 2:</strong> Suburban or semi-urban areas. Moderate population density, balanced age distribution, and mixed voting results. Likely a battleground for multiple parties.</li>
        <li><strong>Cluster 3:</strong> Specialized areas (such as university towns or industrial hubs). Could have unique characteristics like high numbers of full-time students or specific economic dependencies.</li>
        <li><strong>Cluster 4:</strong> Mixed rural and urban characteristics but with distinct features perhaps linked to specific local issues or demographic quirks not captured fully by the general metrics.</li>
    </ul>
    can't get more jitter???
    <br>
    never done cluster analysis before... i'm not sure it's quite right
</p>
    
{% endblock %}
