{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="main-content">
        <h1>Cluster Analysis - Broad Strokes</h1>
        <p>
            This is the first of two panel visualisations of a k-means clustering analysis for the 2019 UK elections. 
            The two figures displayed below  are designed for party political campaign managers and communications officials (of any party).
        </p>
        <br>
        <p>
            Both figures respond to the country and party selection. A detailed explanation of each figure and the clustering analysis can be found below.
        </p>
        <br>

        <div class="country-buttons">
            {% for country_option in ['England', 'Scotland', 'Wales', 'All'] %}
            <button onclick="window.location.href='{{ url_for('cluster_analysis_1', country=country_option, party=current_party) }}'"
                    class="{{ 'selected' if country_option == current_country else '' }}">
                {{ country_option }}
            </button>
            {% endfor %}
        </div>


        <div class="party-buttons">
            {% for party_option in ['All', 'Conservative', 'Labour', 'Lib Dem', 'Green', 'UKIP', 'Brexit Party', 'Plaid Cymru', 'SNP'] %}
            <button onclick="window.location.href='{{ url_for('cluster_analysis_1', country=current_country, party=party_option) }}'"
                    class="{{ 'selected' if party_option == current_party else '' }}">
                {{ party_option }}
            </button>
            {% endfor %}
        <p> 
            <br>
            Consitutencies are grouped into cluster membership based on their characteristics available in the data:
        </p>
        </div>

        <h2>Political Salience of Clusters (by country, by party) :</h2>
        <div id="plot2_cluster_size"></div>
        <script>
            var graphJSON2_cluster_size = {{ graphJSON2_cluster_size | safe }};
            Plotly.newPlot('plot2_cluster_size', graphJSON2_cluster_size);
        </script>
        <br>

        <h2>Marginal and Strategic Seats to Focus On:</h2>
        <div class="row-selection">
            <form action="{{ url_for('cluster_analysis_1', country=current_country, party=current_party) }}" method="get">
                <input type="hidden" name="country" value="{{ current_country }}">
                <input type="hidden" name="party" value="{{ current_party }}">
                <label for="num_rows">Number of rows:</label>
                <select name="num_rows" id="num_rows" onchange="this.form.submit()">
                    <option value="5" {% if current_num_rows == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if current_num_rows == 10 %}selected{% endif %}>10</option>
                    <option value="20" {% if current_num_rows == 20 %}selected{% endif %}>20</option>
                    <option value="50" {% if current_num_rows == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if current_num_rows == 100 %}selected{% endif %}>100</option>

                </select>
            </form>
        </div>

        <div class="table-container">
            {{ table3_html | safe }}
        </div>
        <br>
        <p>
            The intuition is to identify core sub-populations of support for each party, 
            at both a country level and at a strategic local level. 
            The top figure is intended to visually quantify for party-political stakeholders who 
            their party found support from in 2019, based on selected geopgraphical criteria. 
            High level knowledge of key support groups in previous elections is useful when trying 
            to retain support of raise campaign finances.        </p>
        <br>
        <p>   
            The second figure is intended to zoom the analysis into a more granular, 
            local level by identifying strategic constituencies for party political stakeholders, 
            and providing useful information for them to be able to appropriately target their 
            electoral efforts.        </p>
        <br>
        <p>
            The identified constituencies are those that are closely contested. The provided information pertains both to
             the dominant party, and the runner up - it is useful to know who your opponent in order to tailor your campaign 
             appropriately. Similarly, the names the majority cluster in that consituency as the cluster to target. 
             (This is a rough proxy as there may be other criteria upon which you would want to target a specific sub-population, 
             but as a general rule of thumb, at the very least you do not want to alienate this identified sub-population).        </p>

        <br>
    </div>
    <div class="sidebar">
        <h2>Identified Clusters</h2>
        <ul>
            <li><strong>Likely older, rural populations:</strong> Features lower population densities and higher age demographics (more retirees). Voting behavior might vary but could lean towards traditional values.</li>
            <li><strong>Highly urban, young populations:</strong> High population density, younger demographic. Might show diverse voting behaviors with significant votes for progressive parties.</li>
            <li><strong>Suburban families:</strong> Moderate population density, balanced age distribution, and mixed voting results. Likely a battleground for multiple parties.</li>
            <li><strong>Specialized populations (such as university towns or industrial hubs):</strong> Could have unique characteristics like high numbers of full-time students or specific economic dependencies.</li>
            <li><strong>Mixed rural and urban characteristics but with distinct features:</strong> Perhaps linked to specific local issues or demographic quirks not captured fully by the general metrics.</li>
        </ul>
    </div>
</div>
{% endblock %}
