{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Cluster Analysis - In-depth Segmentation</h1>

    <p> NB: Click on the RHS keys to toggle clusters </p>
    <br>

    <div class="button-container">
        <div class="country-buttons">
            {% for country_option in ['England', 'Scotland', 'Wales', 'All'] %}
            <button onclick="window.location.href='{{ url_for('cluster_analysis_2', country=country_option, x_axis=current_x_axis) }}'"
                    class="{{ 'selected' if country_option == current_country else '' }}">
                {{ country_option }}
            </button>
            {% endfor %}
        </div>

    <div class="x-axis-buttons">
        {% for x_axis_option in ['Population Density', 'Female Pop %', 'Student Pop %', 'Retired Pop %', 'Married Pop %'] %}
        <button onclick="window.location.href='{{ url_for('cluster_analysis_2', x_axis=x_axis_option, country=current_country) }}'"
                class="{{ 'selected' if x_axis_option == current_x_axis else '' }}">
            {{ x_axis_option }}
        </button>
        {% endfor %}
    </div>
    <br>
</div>

<!-- 5) Scatter Plot Visualization -->
<div id="plot5_scatter"></div>
    <script>
        var graphJSON5_scatter = {{ graphJSON5_scatter | safe }};
        Plotly.newPlot('plot5_scatter', graphJSON5_scatter);
    </script> 
</div>

<!-- 4) Histogram Visualization -->
<div id="plot4_histogram"></div>
    <script>
        var graphJSON4_histogram = {{ graphJSON4_histogram | safe }};
        Plotly.newPlot('plot4_histogram', graphJSON4_histogram);
    </script>


</div>

<div class="container">
    <p>I calculated both the dominant political party and cluster in each constituency based on vote share.</p>

    <p>NB: The 'Population Density' variable is presented without specific units and remains unspecified in this analysis.</p>

    <br> 
    <p>Collectively, these panels offer a more nuanced understanding of the demographic characeristics of specific voter subgroups 
        and their relationship on local electoral outcomes. These insights are to aid campaign strategists and political stakeholders 
        by providing insights for more precise targeting of political messaging by segmenting politico-geographic groups across a range of 
        demographic characteristics.</p>
    <br> 
    <p>By disaggregating constituency clusters based on demographic dimensions, we gain insight both into the disparities between communities 
        and their differing political preferences, but also into voter differences for groups that otherwise seem similar along a given 
        dimension(s). For example, low population density areas *typically* show support for *both* the Conservative and Labour parties, however, 
        this analysis reveals significant further distinctions. Constituencies favoring Conservatives generally consist of older populations in rural or 
        suburban settings. In contrast, Labour-leaning constituencies in areas of similar population density are characterized by a more diverse 
        demographic profile, including a higher proportion of younger voters.</p>
    <br> 
    <p>
        This segmentation enables campaigners to tailor their communications effectively, ensuring that messaging resonates with the intended audience.</p>
    <br> 
    <p>The two visualisations convey complementary perspectives. The scatter plot is geared towards how the clusters voted, 
        providing strategic insights into electoral behavior. It also contains information as to the distribution and size of clusters along a given dimension, 
        but this is more clearly visualised in the histogram below, which cleanly visualises the distribution and size of each cluster, to highlight their relative political salience.
    </p>
</div>
    
{% endblock %}
