{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center;">{{ title }}</h1>
    <div id='chart1' class='chart'></div>
    <div id='chart2' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graph1 = {{graph1JSON | safe}};
        Plotly.plot('chart1',graph1,{});
    </script>
    <script type='text/javascript'>
        var graph2 = {{graph2JSON | safe}};
        Plotly.plot('chart2',graph2,{});
    </script>
{% endblock %}